# Masukan API ID ambil di web my.telegram.org
API_ID = "19565573"
API_HASH = "f59e4c4080bb67ccd7c79040dc088e99"

# Masukan String PYROGRAM Bisa di ambil Lewat t.me/GeezRamStringroBot
BOT_TOKEN = "5658697942:AAFnHC5lOfX11L8_6mLeatHa6AFfo6gnJWA"
STRING_SESSION1 = "BQAhIHQAVAB2PvHLmvdLMm1fWhjQ_tzKzZ91dTvJQgPj5TA74Nk2fIcm5Yf8eZjGS3sU6Ouzw6aZaLIx2HpvMElDNLWSIIM5868_ePXAePW7JFW519IUfDzP9YII4ThIK4Pe6LrTzmEsDiscYFdCsGUl4DOXAn74_ZWdfyPISQpGo5kN0QvefKQnYeNgDNna4xZpIJMNY49slY-_E7qjBSW3q8qOnUQfZfKv_VpxAO4g4e8tyRcn-muTNa2N33LNomQ8ewTY32Km5Nz2dGKKtk9LbFZ8yRPlUHqV7ksiqq4RDaPyvBqAlq7R0_15NoBKxv1cF3QnlG3ROKhPesP1V0ZcEOhIZQAAAAB6jyuGAA"

# Masukan Bot Token Untuk Menghidupkan Inline Help Mu Lewat @BotFather
# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
# Bila tidak di isi default pindah ke Pesan Tersimpan
BOTLOG_CHATID = -1001611165883
DATABASE_URL = "postgres://aewnplhh:aZt6LPb41eZQafUEWz6HX37jCOuxlcEv@dumbo.db.elephantsql.com/aewnplhh"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = False
