# Masukan API ID ambil di web my.telegram.org
API_ID = "19565573"
API_HASH = "f59e4c4080bb67ccd7c79040dc088e99"

# Masukan String PYROGRAM Bisa di ambil Lewat t.me/GeezRamStringroBot
STRING_SESSION1 = ""

# Masukan Bot Token Untuk Menghidupkan Inline Help Mu Lewat @BotFather
# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
# Bila tidak di isi default pindah ke Pesan Tersimpan
DATABASE_URL = ""

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = False
